.imagesMainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  flex-direction: column;
  color: whitesmoke;
  position: relative;
}

.backAndNewImageContainer {
  /* border: 2px solid blue; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.btnBack {
  width: 50px;
  height: 50px;
  /* background: transparent; */
  cursor: pointer;
  transition: 0.5s all;
}

.btnBack:active {
  transform: scale(1.3);
}

.imagesContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  /* flex-direction: column; */
  color: whitesmoke;
  flex-wrap: wrap;
}
