.albumsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  flex-direction: column;
  color: whitesmoke;
}

.albumContainer {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  /* border: 2px solid blue; */
}
